<template name="layoutMaster">
  <nav class=”navbar navbar-inverse navbar-fixed-top” role=”navigation”>
    <div class=”container”>
      <div class=”collapse navbar-collapse” id=”navigationbar”>
        <ul class=”nav navbar-nav navbar-right”>
          <li><a class=”navbar-brand” href=”#”><img src="/snafoo.png" /></a></li>
          <li>Home</li>
          <li>Dashboard</li>
          <li>Projects</li>
          <li>New Issue</li>
          <li>Admin</li>


          <!-- <li>{{#linkTo route=”home”}}<i class=”fa fa-home”></i>   Home{{/linkTo}}</li>
          {{#if currentUser}}
            <li>{{#linkTo route=”issuesList”}}<i class=”fa fa-align-justify”></i> Issues{{/linkTo}}</li>
            <li>{{#linkTo route=”insertIssue”}}<i class=”fa fa-plus”></i> New Issue{{/linkTo}}</li>
          {{/if}} -->
          <li><div class=”nav navbar-nav navbar-right”> {{> loginButtons}}</div></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class=”container”>
    {{> yield}}

    {{> layoutFooter}}
  </div>
</template>
