<template name="pageHome">
  <div class="jumbotron">
    <h1>snafoo</h1>
    <p>snafoo is modern project management app written in meteor. It aspires to be a lightning fast, flexible and appealing to use for all kinds of projects and users. It is not an agile tool. Think of it as a modern alternative to redmine, because that is what we worship.</p>

    <p>I am currently learning web application programming, along with javascript and meteor. The future of this project is uncertain, this is more of a learning exercise as of now. I am trying to not only learn the language and frameworks, but also the process, best practices and standards.</p>
  </div>
</template>
